/*
 * Applies to the toxicity bar container of the UI:
 */
.toxicity-container {
    -fx-border-color: #ccc;
    -fx-background-color: #eee;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.bold-text {
  -fx-font-weight: bold;
}